<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apedad.example.dao.UserMapper">
    <resultMap id="base_result_map" type="com.apedad.example.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id,username,password,create_time,update_time
    </sql>

    <select id="listAll" resultMap="base_result_map">
        SELECT
        <include refid="base_sql"/>
        FROM user
    </select>

    <insert id="insert" parameterType="com.apedad.example.entity.User">
        INSERT INTO user
        (username, password, create_time, update_time)
        VALUES
        (#{username},#{password},#{createTime},#{updateTime})
    </insert>
</mapper>